<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{csrfToken}}">
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
  <title>Plant Garden</title>

  @vite(['resources/app.ts'])
</head>
<body>
  @inertia({ as: 'main', class: 'h-full' })
</body>
</html>
