@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap') layer(base);
@import 'tailwindcss';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

/*
  ---break---
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

:root {
  --background: hsl(115 35% 98%);
  --foreground: hsl(0 0% 0%);
  --muted: hsl(116 10% 85%);
  --muted-foreground: hsl(116 14% 28%);
  --popover: hsl(116 35% 99%);
  --popover-foreground: hsl(116 62% 1%);
  --card: hsl(116 35% 95%);
  --card-foreground: hsl(116 62% 0%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --primary: hsl(116 21% 65%);
  --primary-foreground: hsl(116 21% 13%);
  --secondary: hsl(116 9% 80%);
  --secondary-foreground: hsl(116 9% 20%);
  --accent: hsl(116 18% 72%);
  --accent-foreground: hsl(116 18% 12%);
  --destructive: hsl(3 90% 40%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(116 21% 73%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/*
  ---break---
*/

.dark {
  --background: hsl(116 52% 3%);
  --foreground: hsl(116 39% 98%);
  --muted: hsl(116 10% 15%);
  --muted-foreground: hsl(116 14% 72%);
  --popover: hsl(116 52% 3%);
  --popover-foreground: hsl(116 39% 98%);
  --card: hsl(116 52% 4%);
  --card-foreground: hsl(116 39% 99%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --primary: hsl(116 21% 73%);
  --primary-foreground: hsl(116 21% 13%);
  --secondary: hsl(116 3% 19%);
  --secondary-foreground: hsl(116 3% 79%);
  --accent: hsl(116 11% 24%);
  --accent-foreground: hsl(116 11% 84%);
  --destructive: hsl(3 90% 54%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(116 21% 73%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}
